.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#aw{
  display: inline-flex;
  margin-bottom: 10%;
}
#pok{
  background-color: aqua;
  text-align: center;
  justify-items: center;
}
#kp{
  background-color: aqua;
}
#pp{
  border-radius: 25px;
}
#pk{
  background-color: rgb(219, 221, 221);
}
#pj{
  background-color: rgb(219, 221, 221);
}